body {
	margin-top: 5px;
}
#loggin-container {
	margin: 10% auto;
}
#loggin-container input {
	margin-top: 5px;
}
#loggin-container button {
	margin-top: 5px;
	width: 100%;
}
#messageInput input {
	width: 90%;
}